body {
	background-color: #ffccff;
	text-shadow: 2px 2px 2px #FFF;
    background: -moz-linear-gradient( left,#FFF,#ffccff,#FFF);
    background: -webkit-linear-gradient(left,#FFF,#ffccff,#FFF);
    font-family: Source Han Sans,Microsoft YaHei,Microsoft JhengHei,San Francisco,Apple LiGothic Medium,SimHei,NSimSun,SimSun;
}

td {
    height: 40px;
}

input {
    height: 30px;
	border:10 solid #FFFFFF;
    border-style:groove;
	border-radius:10px;
	font-size:15px;
	text-shadow: 2px 2px 2px #ffccff;
    width: 288px;
    cursor:pointer;
}

img {
	border-radius:10px;
    box-shadow: 2px 2px 2px #ff66ff;
    cursor:pointer;
}

table {
    align-content: center;
    border: 0;
    border-spacing: 0;
    padding: 0;
    margin: auto;
}

hr {
    height:2px;
    border:none;
    border-top:2px dashed #FFFFFF;
}