body {
	background-color: #ffccff;
	text-shadow: 2px 2px 2px #FFF;
    background: -moz-linear-gradient( left,#FFF,#ffccff,#FFF);
    background: -webkit-linear-gradient(left,#FFF,#ffccff,#FFF);
    font-family: Source Han Sans,Microsoft YaHei,Microsoft JhengHei,San Francisco,Apple LiGothic Medium,SimHei,NSimSun,SimSun;
}

td {
    height: 40px;
}

input {
    height: 30px;
	border:10 solid #FFFFFF;
    border-style:groove;
	border-radius:10px;
	font-size:15px;
    background-color: #FFFFFF;
	text-shadow: 2px 2px 2px #ffccff;
    width: 288px;
    cursor:pointer;
}
input:hover {
	border:10 solid #ff66ff;
    background-color: #ffccff;
}

img {
	border-radius:10px;
    box-shadow: 0px;
    cursor:pointer;
}
img:hover {
    box-shadow: 2px 2px 2px #ff66ff;
}

table {
    align-content: center;
    border: 0;
    border-spacing: 0;
    padding: 0;
    margin: auto;
}

hr {
    height:2px;
    border:none;
    border-top:2px dashed #FFFFFF;
}

.mainbtn{line-height:43px;height:43px;width:300px;color:#0008ff;background-color:#ededed;font-size:16px;font-weight:normal;font-family:Arial;background:-webkit-gradient(linear, left top, left bottom, color-start(0.05, #fbd0fa), color-stop(1, #ff91fc));background:-moz-linear-gradient(top, #fbd0fa 5%, #ff91fc 100%);background:-o-linear-gradient(top, #fbd0fa 5%, #ff91fc 100%);background:-ms-linear-gradient(top, #fbd0fa 5%, #ff91fc 100%);background:linear-gradient(to bottom, #fbd0fa 5%, #ff91fc 100%);background:-webkit-linear-gradient(top, #fbd0fa 5%, #ff91fc 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbd0fa', endColorstr='#ff91fc',GradientType=0);border:1px solid #e9afff;-webkit-border-top-left-radius:5px;-moz-border-radius-topleft:5px;border-top-left-radius:5px;-webkit-border-top-right-radius:5px;-moz-border-radius-topright:5px;border-top-right-radius:5px;-webkit-border-bottom-left-radius:5px;-moz-border-radius-bottomleft:5px;border-bottom-left-radius:5px;-webkit-border-bottom-right-radius:5px;-moz-border-radius-bottomright:5px;border-bottom-right-radius:5px;-moz-box-shadow:3px 4px 0 0 #fce6ff;-webkit-box-shadow:3px 4px 0 0 #fce6ff;box-shadow:3px 4px 0 0 #fce6ff;text-align:center;display:inline-block;text-decoration:none;}
.mainbtn:hover{background-color:#f5f5f5;background:-webkit-gradient(linear, left top, left bottom, color-start(0.05, #ff91fc), color-stop(1, #fbd0fa));background:-moz-linear-gradient(top, #ff91fc 5%, #fbd0fa 100%);background:-o-linear-gradient(top, #ff91fc 5%, #fbd0fa 100%);background:-ms-linear-gradient(top, #ff91fc 5%, #fbd0fa 100%);background:linear-gradient(to bottom, #ff91fc 5%, #fbd0fa 100%);background:-webkit-linear-gradient(top, #ff91fc 5%, #fbd0fa 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff91fc', endColorstr='#fbd0fa',GradientType=0);}