[submodule "go-build-all"]
	path = go-build-all
	url = https://github.com/MasaeProject/go-build-all.git
[submodule "libNyaruko_Go"]
	path = libNyaruko_Go
	url = git@github.com:kagurazakayashi/libNyaruko_Go.git
