nyaconfig.class.php
._*
.DS_Store
Thumbs.db
vendor
.tmp
tmp*
__pycache__
.vs*
img/captcha_*
node_modules
upload
upload_tmp
zeze
log
*.log
.user.ini
ClearSensitiveInformation
tests/testconfig.json
tools/go/convertfile/file
tools/go/convertfile/tofile
bin/
*.bak
git_stats
.idea
*.7z
*.xz
NyarukoLogin.wiki
tests/t.php
